//default (botones, etc)
@mixin no-spacing {
	margin: 0;
	padding: 0;
}

@mixin position-reset {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

@mixin button-default {
	padding: 6px 12px;
	background-color: lightblue;
	font-size: 16px;
	border: solid 1px #999;
	border-radius: 6px;
}